header
{
    text-align: center;
    font-size: 50px;
}

.table
{
    margin-top: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(4, 160px);
}
.table > div
{
    border: 2px solid black;
}
img
{
    height: 100%;
    width: 100%;
}

#img_vert
{
    transform: rotate(90deg);
}

#peppa_gor
{
    transform: rotate(0deg);
}

